<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Comment Page</title>
    <script src="/static/lib.js"></script>
    <script>
        var regions = {{regions}};

        var cities = {};

        var validators = {
            name: new Validator(
                /^[a-zA-Zа-яА-Я\-]{3,30}$/,
                "Incorrect value. Allowed any combinations of letters and symbol '-' from 3 up to 30 symbols."),
            phone: new Validator(
                /^\+?\d{1,4}\(\d{3,6}\)[\d\-]{5,10}$/,
                "Incorrect phone number. Example of correct phone number - +123(3456)789-10-11 (you may skip () and -)."),
            email: new Validator(
                /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                "Please enter valid email."
            ),
            comment: new Validator(/^.{3,300}$/, "Please enter comment from 3 up to 300 characters."),
            select: new Validator(/^\d+$/, "Make choice")   // undefined, character or negative values are possible only when no (valid) option selected.
        };

        /*
        Validate field (DOM), if field has "data-validator" attribute.
        If field has no validation - skip.
        If field has validation, but validator not found - skip and warning in console.
        Returns 0 if field is valid else returns corresponding error text.
         */
        function validateField(field) {
            var validatorName = field.getAttribute("data-validator");
            if (validatorName == undefined) return 0;
            if (!validators.hasOwnProperty(validatorName)){
                console.log("WARNING: Missing validator " + validatorName);
                return 0;
            }
            var validator = validators[validatorName];
            return validator.validate(field);
        }

        // shortcut to get field label's text.
        function getLabelFor(element) {
            if (element instanceof HTMLElement) {
                element = element.id;
            }
            return document.querySelector('[for="' + element + '"').innerHTML;
        }

        ready(function(){
            var region_select = $('#region');
            var cities_select = $('#city');
            // Initial fillings.
            clear_select(region_select);
            fill_select(region_select, regions);

            // Select region event
            region_select.addEventListener('change', function (event) {
                var region_id = this.options[this.selectedIndex].value;
                console.log("Sending request with region_id = " + region_id);
                if (!cities.hasOwnProperty(region_id)) {
                    ajaxPostJson({
                        address: "/api/cities/",
                        json: {region_id: region_id},
                        success: function (status, response) {
                            cities[region_id] = response["response"]["cities"];
                            clear_select(cities_select);
                            fill_select(cities_select, cities[region_id]);
                        },
                        fail: function (status, response) {
                            // send more money plox
                            alert("Something went wrong :(");
                        }
                    });
                } else {
                    clear_select(cities_select);
                    fill_select(cities_select, cities[region_id]);
                }
            });

            region_select.dispatchEvent(new Event('change'));

            $('#add_comment').addEventListener('click', function (event) {
                event.preventDefault();
                clearErrors();
                var form_json = {action: "ADD"};
                var errors = 0;
                // Client-side validation
                var fields = $("#comment_form").querySelectorAll("input, select, textarea");
                fields.forEach(function (field) {
                    var validation_result = validateField(field);
                    if (validation_result == 0) {
                        form_json[field.id] = field.value;
                    } else {
                        addError(getLabelFor(field) + ": " + validation_result);
                        errors++;
                    }
                });
                if (errors > 0) return;
                // Post.
                var button = this;
                button.disabled = true;  // test me.
                button.innerHTML = "Posting...";
                ajaxPostJson({
                    address: "/api/comments/",
                    json: form_json,
                    success: function (status, response) {
                        button.disabled = false;
                        button.innerHTML = "Post it!";
//                        $("#comment_form").reset(); TODO: uncomment after testing
                        alert("Thank you for your super valuable comment!");
                    },
                    fail: function (status, response) {
                        button.disabled = false;
                        button.innerHTML = "Post it!";
                        console.log(JSON.stringify(response));
                        var field_errors = response['errors']['field_errors'];
                        for (var field in field_errors) {
                            addError(field + ": " + field_errors[field]);
                        }
                    }
                })
            });
        });
    </script>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="row">
            <ul id="errors">
            </ul>
        </div>
        <div class="row">
            <ul id="infos">
            </ul>
        </div>
        <h1>Put your comment here!</h1>
        <form action="#" method="POST" id="comment_form">
            <div class="form-group">
                <label for="surname">Фамилия</label>
                <input type="text" id="surname" class="form-control" data-validator="name" required>
            </div>
            <div class="form-group">
                <label for="name">Имя</label>
                <input type="text" id="name" class="form-control" data-validator="name" required>
            </div>
            <div class="form-group">
                <label for="middle_name">Отчество</label>
                <input type="text" id="middle_name" class="form-control" data-validator="name">
            </div>
            <div class="form-group">
                <label for="phone">Телефон</label>
                <input type="text" id="phone" class="form-control"  data-validator="phone">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" placeholder="name@mail.com" data-validator="email">
            </div>
            <div class="form-group">
                <label for="region">Регион</label>
                <select id="region" class="form-control" data-validator="select">
                    <option>Выберите</option>
                </select>
            </div>
            <div class="form-group">
                <label for="city">Город</label>
                <select id="city" class="form-control" data-validator="select">
                    <option>Выберите</option>
                </select>
            </div>
            <div class="form-group">
                <label for="comment">Комментарий</label>
                <textarea id="comment" class="form-control" data-validator="comment" required></textarea>
            </div>
            <div class="form-group">
                <button type="submit" id="add_comment">Post it!</button>
            </div>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>
</body>
</html>