<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stat</title>

    <script src="/static/lib.js"></script>
    <script>
        var statistics = JSON.parse('{{statistics}}');

         ready(function () {
           var row_template = new SimpleTemplate($("#row-snippet").innerHTML);

           var table = $("#stat-table");
           statistics.forEach(function (info) {
               console.log("info " + JSON.stringify(info));
               table.innerHTML += row_template.render(info);
           });
        });


    </script>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="h2">{{region_name}}</div>
        <table id="stat-table" border="1">
            <tr>
                <th class="text-center">City</th>
                <th class="text-center">№ of comments</th>
            </tr>
        </table>
    </div>
    <div class="col-lg-4"></div>
</div>

<table id="row-snippet" hidden>
    <tr>
        <td><%city%></td>
        <td class="text-center"><%comments_count%></td>
    </tr>
</table>
</body>
</html>