<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Comments</title>
    <script src="/static/lib.js"></script>
    <script>

        function deleteComment(id) {
            console.log("Sending request to delete comment with id = " + id);
            ajaxPostJson({
                address: "/api/comments/",
                json: {action: "DEL", id: id},
                success: function (status, response) {
                    $("#comment_" + id).remove();
                    alert("Comment id = " + id + " deleted successfully!");
                },
                fail: function (status, response) {
                    alert("Something went wrong. P.S.: Pls send money.");
                }
            })
        }

        ready(function () {
            console.log("Oppa ready!");
            var comments = JSON.parse("{{comments}}"); // [{comment_data}, {comment_data}]

            console.log("raw comment data " + JSON.stringify(comments));

            var comment_template = new SimpleTemplate($("#snippet_comment").innerHTML);

            function fillComments() {
                comments.forEach(function (comment_data) {
                    $("#comments").innerHTML += comment_template.render(comment_data);
                });
            }

            fillComments();
        });
    </script>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="h1 text-center">List of comments</div>
        <div id="comments"></div>
    </div>
    <div class="col-lg-4"></div>
</div>


<div id="snippet_comment" class="row" hidden>
    <div id="comment_<%id%>" class="table-bordered row">
        <div class="col-lg-4 table-bordered ">
            <p><b>Name:</b><%surname%> <%name%> <%middle_name%></p>
            <p><b>Phone: </b><%phone%></p>
            <p><b>Email: </b><%email%></p>
            <div class="align-content-center">
                <button onclick="deleteComment(<%id%>)">Delete</button>
            </div>
        </div>
        <div class="col-lg-8 table-bordered">
            <div class="row table-bordered">Comment:</div>
            <p><%comment%></p>
        </div>
    </div>
</div>
</body>
</html>